/*body {
  background-color: rgba(107, 107, 107, 1);
  color: #fff !important;
}

nav {
  background-color: rgb(153, 153, 153) !important;

}*/

/*.white-text {
  color: #fff !important;
}*/

.top-margin-5 {
  margin-top: 1em;
}

.inlineDiv {
  display: inline-block;
}


.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container-budget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container-child {
  flex-grow: 2;
}


.new-expense-bg {
  background-color: rgba(184, 240, 122, 0.27);
}

.small-btn {
  height: 50%;
  margin: auto;
}
